@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

/*### Personnel Files Card ###*/

.card__container {
    padding: 20px;
    background-color: #F9F9FF;
    border: 1px solid #D6D6E5;
    box-shadow: 0px 8px 16px rgba(59, 58, 130, 0.1);

    @media (max-width: 480px) {
        text-align: center;
    }

    @media (max-width: 768px) {
        text-align: center;
    }

    @media (max-width: 1197px) {
        text-align: center;
    }

    ._avatar {
        width: 115px;
        height: 115px;
        margin-top: 24px;
        margin-right: 20px;

        @media (max-width: 480px) {
            margin-right: 0px;
        }

        @media (max-width: 768px) {
            margin-right: 0px;
        }
    }

    ._id {
        @extend .subheading1semibold;
        color: $arcs_neutral800;
        margin: 5px 0 0 0;
    }

    ._name {
        @extend .subheading1semibold;
        color: $arcs_primary300;
        margin-bottom: 0;
    }

    ._desc {
        @extend .subheading1regular;
        color: $arcs_neutral600;
        margin-bottom: 0;
    }

    ._btn {
        margin-top: 10px;
        @extend .subheading1regular;
        padding-bottom: 30px;
    }

    ._details {
        text-align: center;
    }

    ._badge {

        @media (max-width: 480px) {
            margin: 0 auto;
            margin-top: 10px;
        }

        @media (max-width: 768px) {
            margin: 0 auto;
            margin-top: 10px;
        }

        @media (max-width: 1197px) {
            margin: 0 auto;
            margin-top: 10px;
        }
    }

}