@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";
@import "components/mixins.scss";

//////////////////////////////////////////////////////////////////////////////////////////
/* AUTH */

.container {
	margin: auto;
	padding: rem(50) rem(30);
	max-width: 1200px;
}
