@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.__container--migrate-trial-balance-warning {

    .__container--icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        svg {
            color: $arcs_confirm400;
            width: 90px;
            height: auto;
        }
    }

    .__text--step-title {
        @extend .body_large_semibold;
        text-align: left;
        color: $arcs_primary300;
        margin: 0;
    }

    .__text--title {
        @extend .heading2;
        text-align: center;
        color: $arcs_confirm400;
        margin: 0;
        margin-top: 15px;
    }

    .__text--description {
        @extend .body_large_regular;
        text-align: center;
        color: $arcs_neutral600;
        max-width: 479px;
        margin: 25px 0;
    }

    .container__button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top:10px; 
        gap: 25px 25px;

        .button__modal {
            width: max-content;
        }
    }
}