@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.button_container {
    width: 25%;
    justify-content: center;
}











