@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.container {
	display: flex;
	flex-direction: column;
	// align-items: center;
	justify-content: space-between;
	min-height: 150px;

	.title {
		@extend .heading3;
	}

	.content {
		align-self: flex-end;
	}
}
