@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

#pending-entries {
	width: 100%;
	padding: 10px;
	box-shadow: 0px 6px 7px #d5d2d261;
	border-radius: 20px;
}

.details {
	font-weight: 400;
	font-size: 12px;
	margin-top: 0.5rem;
    border-bottom: 1px solid $arcs_neutral200;
}

.details-align {
	font-weight: 600;
	font-size: 12px;
	text-align: right;
}

.btn {
	font-weight: 400;
	font-size: 12px;
	margin-top: 20px;
}
