@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.conts {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.top_container {
	border-bottom: 1px solid $arcs_neutral300;
	padding: 3em 0;

	#avatar_top_level_container {
		@media screen and (max-width: $large) {
			// TODO:Fix responsiveness of coop_name
			width: 100% !important;
			flex: 1 !important;
			display: flex !important;
			align-items: center !important;
			justify-content: center !important;
			align-items: center !important;
		}

		// @media screen and (max-width: $medium) {
		//     .key, .value {
		//         word-break: break-word;
		//         font-size: 16px;

		//     }
		// }
	}

	.status_name_call {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
         
        div {
            .coop_name {
                @extend .heading2;
                margin: 20px 0;
                width: 100%;
                color: $arcs_neutral900;
                word-break: break-word;
            }
        }

	}

	.avatar_container {
		display: flex;
		align-items: stretch;
		justify-content: center;
		width: 100%;
	}
	
	.badge_pending {
		margin: 10px 0;
	}
	.call_button {
		margin-left: auto;
		// align-self: flex-end;
		// justify-self: flex-end;
		max-width: 75px;
		border-radius: 30px;
		// margin: 1000px;
	}
}

.component-body {
	overflow: auto;
	padding: 2em;
	height: 45vh;

	.key_value_container {
		margin: 2em 0;

		.key {
			@extend .body_large_semibold;
			color: $arcs_neutral900;
		}

		.value {
			@extend .body_large_regular;
			color: $arcs_neutral700;
		}

		@media screen and (max-width: $medium) {
			.key,
			.value {
				word-break: break-word;
				font-size: 16px;
			}
		}
	}
}

.bottom_container {
	display: flex;
	padding-top: 2em;
	align-items: center;
	justify-content: flex-end;
	border-top: 1px solid $arcs_neutral300;
}
