@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";


.title__container {
    display: flex;
    flex-direction: row;

    .icon {
        height: 42px;
        width: 42px;
        font-size: 42px;
    }

    .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 130%;
        color: #30304D;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 16px;
    }
}

.content {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #7F7F99;
    padding-top: 18px;
    padding-bottom: 18px;
}