@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .txt_container {
        gap: 1rem;
    }

    .txt_title {
        font-size: 1.2rem;
        font-weight: 600;
        text-align: center;
        color: $arcs_neutral900;
    }

    .txt_body {
        font-size: 1.1rem;
        color: $arcs_neutral500;
    }

    .container__button {
        width: 50%;
    
        .button {
            display: flex;
            gap: 2rem;
        }
    }
}
