@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.header {
    @media (max-width: 480px) {
        text-align: center;
    }

    .header_detail {
        padding: 0 20px 20px 0;

        .name {
            @extend .headingh1small;
            color: $arcs_primary300;
        }

        .position,
        .department {
            @extend .subheading1regular;
            color: $arcs_neutral600;
        }
    }

    .header_btn {
        margin-top: 30px;

        @media (max-width: 480px) {
            margin-top: 0;
        }
    }

}

.header_supervisor {
    padding: 20px 20px 10px 20px;
    max-width: 500px;

    @media (max-width: 768px) {
        text-align: center;
    }

    // @media (max-width: 1997px) {
    //     text-align: center;
    // }

    .header_detail {
        padding: 0 20px 20px 0;

        @media (max-width: 480px) {
            text-align: center;
        }

        .name {
            @extend .headingh1small;
            color: $arcs_primary300;
            line-height: 40px;
        }

        .position,
        .department {
            @extend .subheading1regular;
            color: $arcs_neutral600;
        }
    }

    .view_profile {
        width: 50%;
        margin-top: 10px;
    }

    ._avatar {
        width: 140px;
        height: 140px;
        margin-top: 14px;
    }
}

._avatar {
    width: 130px;
    height: 130px;
    margin-top: 14px;
}

.divider {
    background-color: $arcs_neutral500;
}

.key {
    @extend .subheading1semibold;
    color: $arcs_neutral900;
}

.value {
    @extend .subheading1regular;
    color: $arcs_neutral600;
}

.value_supervisor {
    @extend .subheading1regular;
    color: $arcs_neutral600;
    text-decoration: underline;
    cursor: default;
}

.title {
    font-weight: 700;
    font-size: 24px;
    color: $arcs_primary300;
}

._title-pdf {
    color: $arcs_neutral900;
    @extend .subheading1semibold;
}

._desc {
    @extend .subheading1regular;
    color: $arcs_neutral700;
    margin-top: -15px;
}

._pdf-icon {
    color: $arcs_primary300;
    font-size: 50px;
    width: 100%;
    margin-top: 5px;
}

._fileborder {
    border: 1px solid #D6D6E5;
    padding: 14px 10px 0px 10px;
    margin: 10px 0 10px 0 !important;
    width: 50%;
    box-shadow: 0px 8px 16px rgba(59, 58, 130, 0.1);

    @media (max-width: 480px) {
        width: 100%;
    }
}

._badge {
    @media (max-width: 480px) {
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        margin: 0 auto;
    }
}

._badge-supervisor {
    @media (max-width: 480px) {
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        margin: 0 auto;
    }

    // @media (max-width: 1997px) {
    //     margin: 0 auto;
    // }
}

.footer_details {
    display: flex;
    flex-direction: row;
    @extend .caption_large_regular;

    div {
        padding-top: 10px;
        padding-right: 15px;
    }

    .footer_key {
        color: #30304D;
    }

    .footer_value {
        color: #6A6A80;
    }
}