@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.conts {
    width: 100%;
    height: 100%;

    .top {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        width: 100%;
        max-width: 285px;

        .statusContainer {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            flex-direction: column;

            // margin-left: 2em;
            div {
                text-align: left;
            }

            .text_status {
                @extend .caption_large_regular;
            }

            .text_product_name {
                @extend .heading4;

            }

            .text__transaction_type {
                @extend .caption_large_regular;
                color: $arcs_neutral300;
                text-transform: capitalize;
            }

            .text_name {
                @extend .body_large_semibold;
                color: $arcs_neutral900;
            }
        }
    }

    .mid_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        // max-width: 390px;
        margin-top: 1.5rem;

        .mid_title {
            @extend .heading4small;
            color: $arcs_neutral300;
        }

        .mid_value {
            @extend .body_large_semibold;
            color: $arcs_neutral900;
        }

        .title_value_container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    }

    .button_container {
        margin-top: 1rem;
    }
}

@media (max-width: 767px) {
    .conts {
        .top {
            .statusContainer {
                margin-left: 0em;
                margin-top: 1em;
            }
        }
    }

    .conts {
        .top {
            display: block;
        }
    }
}