@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.account_creation {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    margin: 50px auto;
    padding: 5%;

    color: black;

    .__content {
        width: 100%;
        height: 100%;


        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;

    }

    .__container-button {
        margin: 35px auto;
    }


    .steps-content {
        min-height: 200px;
        margin-top: 16px;
        padding-top: 80px;
        max-height: 70vh;
        text-align: center;
        background-color: red;
        border: 1px dashed #e9e9e9;
        border-radius: 2px;
        color: red;
        overflow: scroll;
    }


    .steps-action {
        margin-top: 24px;
    }
}