@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.__container--step1-migrate--check-balance {
    padding: 35px 0;

    .__text--step-title {
        @extend .body_large_semibold;
        text-align: left;
        color: $arcs_primary300;
        margin: 0;
    }

    .__text--title {
        @extend .heading2;
        text-align: center;
        color: $arcs_neutral900;
        margin: 0;
    }

    .__text--description {
        @extend .body_large_regular;
        text-align: center;
        color: $arcs_neutral600;
        margin: 15px 0;
    }

    .__text--selected {
        @extend .body_large_regular;
        text-align: center;
        color: $arcs_primary300;
    }

    .__text--error {
        @extend .body_large_semibold;
        max-width: 452px;
        text-align: center;
        color: $arcs_error200;


        margin: 20px auto;
    }

    .container__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 25px 25px;
        margin-top: 15px;

        .button__modal {
            width: max-content;
        }
    }

    .__container--balance-db {
        width: max-content;
        min-width: 0;
        margin-top: 25px;
        margin-left: auto;


        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row;
            gap: 50px 60px;

            .title {
                @extend .body_large_semibold;
                color: $arcs_neutral600;
                margin: 0
            }

            .value {
                @extend .body_large_regular;
                color: $arcs_neutral600;
                margin: 0
            }
        }
    }
}