
@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.phone-confirmation{
    text-align: center;
    padding: 0px 300px 0px 300px;
    .__heading{
        @extend .headingh1small;
        color: $arcs_neutral900;
        margin-bottom: 20px;
        
    }
    .__details{
        @extend .body_small_regular;
        color: $arcs_neutral700;
        margin-top: 20px;
    }

    .__btn{
        width: 35%;
        margin: 20px 0px 0px 0px;
    }

}