@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

/*### PAYROLL DEDUCTION CARDS ###*/

._title {
	@extend .body_large_semibold;
	color: $arcs_neutral900;
	border-bottom: 1px solid $arcs_neutral900;
}

._title-role {
	@extend .body_large_semibold;
	color: $arcs_neutral900;
}

._radius {
	border-radius: 15px !important;
}

._tooltip {
	background-color: $arcs_white  !important;
	color: $arcs_neutral900;
	padding: 15px;

	border-radius: 15px !important;

	._desc {
		@extend .body_large_semibold;
		color: $arcs_primary300;
		margin-bottom: -2px;
	}

	._sub {
		@extend .body_large_regular;
		color: $arcs_neutral600;
		margin-bottom: -5px;
	}
}

._icon {
	padding-left: 10px;
}

._border {
	border: 1px solid $arcs_neutral300;
	padding: 13px 5px 0px 5px;

	@media (max-width: 1197px) {
		padding-bottom: 20px;
	}
	
	@media (max-width: 768px) {
		padding-bottom: 20px;
	}

	@media (max-width: 480px) {
		padding-bottom: 20px !important;
	}
}


._border-deductions {
	border: 1px solid $arcs_neutral300;

	._add-deductions {
		border: 1px solid transparent !important;
		padding: 12px 0px 36px 0px !important;
	}

	._space {
		padding: 0px !important;
	}

}

._border-btns {
	margin-top: 30px;
	visibility: hidden;

	@media (max-width: 768px) {
		visibility: hidden;
	}

	@media (max-width: 480px) {
		visibility: visible;
	}

	._cancel {
		border: 1px solid transparent;
		background: transparent;
		color: $arcs_primary300;
		@extend .body_large_regular;
		padding: 0px;
	}

	._save {
		@extend .body_large_regular;
		padding: 0px;
	}
}