@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.divider {
	width: 75%;
	margin: 50px auto;
}
.subTitle {
	@extend .body_large_regular;
	font-weight: 600;
}
.form_card {
	width: 100%;
}

.container__button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 30px;
	gap: 25px;

	.form_button__add,
	.form_button__delete {
		width: max-content;
		border-radius: 15px;
	}

	.form_button__add {
		background-color: $arcs_primary300;
		color: $arcs_neutral50;
		border: 1px solid $arcs_primary300;

		&:hover {
			background-color: $arcs_primary200;
			color: $arcs_neutral50;
			border: 1px solid $arcs_primary200;
		}
		&:active,
		&:focus {
			background-color: $arcs_primary100;
			color: $arcs_neutral50;
			border: 1px solid $arcs_primary100;
		}
	}
	.form_button__delete {
		background-color: $arcs_neutral50;
		color: $arcs_error300;
		border: 1px solid $arcs_error300;

		&:hover {
			background-color: $arcs_error300;
			color: $arcs_neutral50;
			border: 1px solid $arcs_error300;
		}
		&:active,
		&:focus {
			background-color: $arcs_error100;
			color: $arcs_neutral50;
			border: 1px solid $arcs_error100;
		}
	}

	@media screen and( max-width: 468px) {
		margin-bottom: 15px;
		.form_button__add,
		.form_button__delete {
			width: 75px;
			height: 35px;
			gap: 10px 10px;
			.text__button {
				display: none;
			}
		}
	}
}
