@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .txt_upload {
        font-size: 1.1rem;
        color: $arcs_neutral500;
        margin-bottom: 1rem;
        
    }

}

.container__button {
    width: 100%;

    .button {
        display: flex;
        gap: 2rem;
        margin-top: 1rem;
    }
}

.form_container {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

.coop_name {
    @extend .heading3;
    text-align: center;
    word-break: break-all;
}


