@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.container {
	margin: auto;
	padding: rem(50) rem(30);
	max-width: 750px;

	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;


	.common_text {
		@extend .body_large_regular;
		color: $arcs_neutral900;
	}

	.coop_name {
		@extend .heading1;
		color: $arcs_neutral900;
        margin: 0.5em;
	}

    .button {
        max-width: 186px;
    }
}
