@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
}

.icon_container {
    color: $arcs_primary300;
    display: flex;
    justify-content: center;
    margin-bottom: 0.3em;
}

.txt_container {
    display: flex;
    flex-direction: column;

    .txt_files {
        font-size: 1.1rem;
        color: $arcs_neutral500;

        &:hover {
            cursor: pointer;
        }
    }  
}

.txt_title {
    font-size: 1.1rem;
    font-weight: bold;
    color: $arcs_neutral900;
}

.txt_body {
    font-size: 1.1rem;
    color: $arcs_neutral500;
}