@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.main-container {
    padding: 20px;
    // max-width: 800px;
    // width: 800px;

    .title {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 130%;
        color: #30304D;
    }

    .table {
        margin-top: 14px;
        // width: 600px;
    }
}

