@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.card__loan_category {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 40px;

	.title {
		@extend .heading1small;
		white-space: nowrap;
		text-overflow: ellipsis;
		max-width: 18ch;
		overflow: hidden;
	}

	.container__title_value {
		display: flex;
		align-items: center;
		flex-direction: row;
		gap: 15px 15px;

		.text__title,
		.text__value {
			@extend .body_large_regular;
			font-weight: 500;
			word-break: break-word;
		}
		.text__title {
			color: $arcs_neutral900;
		}
		.text__value {
			color: $arcs_neutral500;
		}
	}
}
