@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.acct-confirmation {
    text-align: center;
    width: 100%;
    max-width: 600px;

    .__heading {
        @extend .heading1;
        color: $arcs_neutral900;
        margin-bottom: 20px;
    }

    .__details {
        @extend .body_large_regular;
        color: $arcs_neutral700;
        margin-top: 20px;
    }

    .__btn {
        width: 35%;
        margin: 20px 0px 0px 0px;
    }

}

@media (max-width: 767px) {
    .acct-confirmation {
        .__btn {
            width: 100%;
            // background-color: red;
        }

        .__heading {
            line-height: 40px;
            font-size: 40px !important;
        }

    }
}