@import "scss_globals/mixins.scss";
@import "scss_globals/variables.scss";
@import "scss_globals/typography.scss";

.container {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}